

.akali{
    border: 1px solid rgb(45, 161, 161);
    border-radius: 4px;
    background-color: rgb(45, 161, 161);
    padding: 5px;
    width: 400px;

}

.dab{
    text-align: center;
}

.card-body{
    margin-bottom: 10px;
    height: 270px;
    overflow-y: scroll;
}

.card{
    overflow-y: hidden;
    height: 358px;
    text-align: center;
}
.series{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.average{
    width: 100%;
}

.seriesTable{
    width: 70%;
    margin-right: 40px;
    text-align: center;
}